app-id: cn.feishu.feishu
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: feishu
finish-args:
  - --share=network
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  # For camera
  - --device=all
  - --talk-name=org.freedesktop.Notifications
  - --talk-name=org.freedesktop.secrets
  - --talk-name=org.gnome.keyring
  - --talk-name=org.gnome.ScreenSaver
  - --talk-name=org.kde.StatusNotifierWatcher
  - --talk-name=org.kde.kwin.Screenshot
  - --talk-name=org.kde.KWin.ScreenShot2
  - --own-name=org.kde.*
  - --system-talk-name=org.freedesktop.login1
  - --system-talk-name=org.freedesktop.UPower
  # Share files
  - --filesystem=xdg-documents
  - --filesystem=xdg-download
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:
  - name: feishu
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dvm755 feishu -t ${FLATPAK_DEST}/bin
      - install -Dvm755 apply_extra -t ${FLATPAK_DEST}/bin
      - install -Dvm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
    sources:
      - type: script
        commands:
          - export TMPDIR="${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}"
          - source /app/extra/feishu/bytedance-feishu.sh
          - exec zypak-wrapper /app/extra/feishu/feishu "$@"
        dest-filename: feishu
      - type: script
        commands:
          - bsdtar --to-stdout -xvf feishu-linux.deb data.tar.xz | bsdtar -xvf -
          - mv -v opt/bytedance/feishu .
          - sed '/^exec -a/d' feishu/bytedance-feishu > feishu/bytedance-feishu.sh
          - rm -rv opt usr *.deb
        dest-filename: apply_extra
      - type: extra-data
        filename: feishu-linux.deb
        url: https://sf3-cn.feishucdn.com/obj/ee-appcenter/ea0aeecc/Feishu-linux_x64-7.58.14.deb
        sha256: 620f5003fba008f698f7238704ebe616e150f00cf1be93fdfa3f468eda6cf74d
        size: 437622424
        only-arches: [x86_64]
        x-checker-data:
          type: json
          url: https://www.feishu.cn/api/downloads
          version-query: .versions.Linux_deb_x64.version_number | capture("@V(?<v>.*)")
            | .v
          url-query: .versions.Linux_deb_x64.download_link
      - type: extra-data
        filename: feishu-linux.deb
        url: https://sf3-cn.feishucdn.com/obj/ee-appcenter/f8addda9/Feishu-linux_arm64-7.58.14.deb
        sha256: 331d3d29a676788b896d4c5e3f0cd971e563eed762abfbd937f770173735bb28
        size: 398656272
        only-arches: [aarch64]
        x-checker-data:
          type: json
          url: https://www.feishu.cn/api/downloads
          version-query: .versions.Linux_deb_arm.version_number | capture("@V(?<v>.*)")
            | .v
          url-query: .versions.Linux_deb_arm.download_link
      - type: file
        path: cn.feishu.feishu.desktop
      - type: file
        path: cn.feishu.feishu.metainfo.xml
      - type: file
        path: cn.feishu.feishu.svg
