[Desktop Entry]
Name=WeChat
Name[zh_CN]=微信
Exec=wechat %U
StartupNotify=true
Terminal=false
Icon=com.qq.weixin
Type=Application
Categories=Network;
Comment=WeChat Desktop
Comment[zh_CN]=微信桌面版
