[Desktop Entry]
Name=cyc-desktop
Name[zh_CN]=次元城动漫
Exec=cyc-desktop %U
Terminal=false
Type=Application
Icon=pro.cycity.desktop
StartupWMClass=cyc-desktop
Comment=次元城动漫 - 充满对另一个世界的无尽幻想！
Categories=AudioVideo;Video;TV;
