id: cn.wps.office
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
command: wps
finish-args:
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  - --share=network
  - --device=dri
  - --persist=.kingsoft
  - --env=TMPDIR=/var/tmp
  - --filesystem=xdg-documents
  - --filesystem=xdg-download
  - --filesystem=xdg-pictures
  - --filesystem=xdg-videos
  - --filesystem=/run/media
  - --filesystem=/media
  - --env=QT_PLUGIN_PATH=/app/lib/qt/plugins:/app/extra/wps-office/office6/qt/plugins

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:
  - name: wps
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dvm755 apply_extra.sh ${FLATPAK_DEST}/bin/apply_extra
      - install -Dvm755 wps.sh ${FLATPAK_DEST}/bin/wps
      - ln -sv wps ${FLATPAK_DEST}/bin/et
      - ln -sv wps ${FLATPAK_DEST}/bin/wpp
      - ln -sv wps ${FLATPAK_DEST}/bin/wpspdf
      - install -Dvm755 /usr/bin/desktop-file-edit -t ${FLATPAK_DEST}/bin/
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo/
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications/
      - install -Dvm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps/
    sources:
      - type: file
        path: apply_extra.sh

      - type: file
        path: cn.wps.office.metainfo.xml

      - type: file
        path: cn.wps.office.desktop

      - type: file
        path: cn.wps.office.svg

      - type: file
        path: wps.sh

      - type: extra-data
        filename: wps-office.deb
        only-arches: [x86_64]
        url: https://mirrors.nju.edu.cn/ubuntukylin/pool/partner/wps-office_12.1.2.23578_amd64.deb
        sha256: 20c9259c7eab08f6451c494b145e80b7941d0e0ed4b7f941645c3ea0fc106167
        size: 627376942
        x-checker-data:
          type: debian-repo
          package-name: wps-office
          root: https://mirrors.nju.edu.cn/ubuntukylin/
          dist: jammy-partner
          component: main
