app-id: io.github.predidit.kazumi
runtime: org.gnome.Platform
runtime-version: '46'
sdk: org.gnome.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.vala
command: kazumi
finish-args:
  - --share=ipc
  - --socket=wayland
  - --socket=fallback-x11
  - --socket=pulseaudio
  - --share=network
  - --device=dri
  - --talk-name=org.kde.StatusNotifierWatcher
  - --talk-name=org.freedesktop.Notifications
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc
build-options:
  append-path: /usr/lib/sdk/vala/bin
  prepend-ld-library-path: /usr/lib/sdk/vala/lib

add-extensions:
  org.freedesktop.Platform.ffmpeg-full:
    directory: lib/ffmpeg
    version: '23.08'
    add-ld-path: .

modules:
  - name: libayatana-appindicator
    buildsystem: cmake-ninja
    config-opts:
      - -DENABLE_BINDINGS_MONO=NO
      - -DENABLE_BINDINGS_VALA=NO
      - -DENABLE_GTKDOC=NO
    sources:
      - type: git
        url: https://github.com/AyatanaIndicators/libayatana-appindicator.git
        tag: 0.5.93
        commit: 238c8b02718fa5b4af95ede72beeed762094f4cc
        x-checker-data:
          type: anitya
          project-id: 18446
          tag-template: $version
          
    modules:
      - shared-modules/intltool/intltool-0.51.json
      
      - name: ayatana-ido
        buildsystem: cmake-ninja
        sources:
          - type: git
            url: https://github.com/AyatanaIndicators/ayatana-ido.git
            tag: 0.10.2
            commit: 2bb2f321c64b903b6e4b5c581d79602632c851c5
            x-checker-data:
              type: anitya
              project-id: 18445
              tag-template: $version

      - name: libayatana-indicator
        buildsystem: cmake-ninja
        sources:
          - type: git
            url: https://github.com/AyatanaIndicators/libayatana-indicator.git
            tag: 0.9.4
            commit: 611bb384b73fa6311777ba4c41381a06f5b99dad
            x-checker-data:
              type: anitya
              project-id: 18447
              tag-template: $version

      - name: libdbusmenu-gtk3
        buildsystem: autotools
        build-options:
          cflags: -Wno-error
        config-opts:
          - --with-gtk=3
          - --disable-dumper
          - --disable-static
          - --enable-tests
          - --disable-gtk-doc
          - --enable-introspection=no
          - --disable-vala
        cleanup:
          - /share/gtk-doc
          - /share/libdbusmenu
        sources:
          - type: archive
            url: https://launchpad.net/libdbusmenu/16.04/16.04.0/+download/libdbusmenu-16.04.0.tar.gz
            sha256: b9cc4a2acd74509435892823607d966d424bd9ad5d0b00938f27240a1bfa878a

  - name: libnotify
    buildsystem: meson
    config-opts:
      - -Dtests=false
      - -Dintrospection=disabled
      - -Dman=false
      - -Dgtk_doc=false
      - -Ddocbook_docs=disabled
    sources:
      - type: archive
        url: https://download.gnome.org/sources/libnotify/0.8/libnotify-0.8.3.tar.xz
        sha256: ee8f3ef946156ad3406fdf45feedbdcd932dbd211ab4f16f75eba4f36fb2f6c0
        x-checker-data:
          type: gnome
          name: libnotify
          stable-only: true

  - name: kazumi
    buildsystem: simple
    build-commands:
      - bsdtar --to-stdout -xf *.deb data.* | bsdtar -xf -
      - mv opt/Kazumi /app/
      - cp -a usr/share /app/
      - chmod +x /app/Kazumi/kazumi
      - install -Dm755 kazumi.sh /app/bin/kazumi
      - install -Dm644 io.github.predidit.kazumi.metainfo.xml -t /app/share/metainfo
      - ln -svf /usr/bin/ffmpeg /app/bin/
      - mkdir -p /app/lib/ffmpeg
    sources:
      - type: file
        url: https://github.com/Predidit/Kazumi/releases/tag/1.2.4/Kazumi_linux_1.2.4_amd64.deb
        dest-filename: kazumi.deb
        sha256: 5484719fe8879094b3957fd10780ec087801e3ea46337ac9d921396402701b01
      - type: file
        path: io.github.predidit.kazumi.metainfo.xml
      - type: script
        commands:
          - export TMPDIR="$XDG_RUNTIME_DIR/app/$FLATPAK_ID"
          - /app/Kazumi/kazumi
        dest-filename: kazumi.sh
