app-id: io.github.msojocs.bilibili
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: bilibili

finish-args:
  - --socket=wayland
  - --socket=pulseaudio
  - --device=dri
  - --share=network
  - --filesystem=xdg-videos
  - --filesystem=xdg-download
  - --talk-name=org.kde.StatusNotifierWatcher
  - --talk-name=org.freedesktop.ScreenSaver
  - --system-talk-name=org.freedesktop.login1
  - --system-talk-name=org.chromium.bluetooth.Manager
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons

add-extensions:
  org.freedesktop.Platform.electron:
    version: '25.08'
    directory: electron

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:
  - name: bilibili
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - mkdir -pv ${FLATPAK_DEST}/electron
      - install -Dvm755 apply_extra -t ${FLATPAK_DEST}/bin/
      - desktop-file-edit --set-key="Icon" --set-value="io.github.msojocs.bilibili"
        ${FLATPAK_ID}.desktop
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications/
      - install -Dvm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps/
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo/
      - install -Dvm755 bilibili.sh ${FLATPAK_DEST}/bin/bilibili
    sources:
      - type: extra-data
        url: https://github.com/msojocs/bilibili-linux/releases/download/v1.17.4-1/bilibili-asar-v1.17.4-1.tar.gz
        sha256: 28feeb9fe7048a8b7a904ddd5fe527e735bba0c6f95b8fd061bfb2031884c9fd
        filename: bilibili.tar.gz
        size: 57616916
        x-checker-data:
          type: json
          url: https://api.github.com/repos/msojocs/bilibili-linux/releases/latest
          is-main-source: true
          version-query: .tag_name | sub("^v"; "")
          url-query: >-
            .assets[] | select(.name=="bilibili-asar-v" + $version + ".tar.gz")
            |
            .browser_download_url
      - type: file
        path: io.github.msojocs.bilibili.metainfo.xml
      - type: file
        url: https://raw.githubusercontent.com/msojocs/bilibili-linux/refs/heads/master/res/bilibili.desktop
        sha256: a268288afe4a5803b850425f4c0796c47e9e95c2c74b57b9ae7b49951f24c011
        dest-filename: io.github.msojocs.bilibili.desktop
      - type: file
        url: https://raw.githubusercontent.com/msojocs/bilibili-linux/refs/heads/master/res/icons/bilibili.svg
        sha256: 7cf1a17b2a0932927396d5fd6a5c7c5b418222a405cc99322d0a730741f41b89
        dest-filename: io.github.msojocs.bilibili.svg
      - type: script
        dest-filename: bilibili.sh
        commands:
          - export TMPDIR=${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}
          - exec zypak-wrapper "/app/electron/electron" "/app/extra/bilibili/app.asar"
            "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--enable-wayland-ime"
            "--wayland-text-input-version=3" "$@"
      - type: script
        dest-filename: apply_extra
        commands:
          - bsdtar -xvf bilibili.tar.gz
          - mv -v app bilibili
          - rm -rv bin bilibili.tar.gz
