[Desktop Entry]
Type=Application
Name=Peer Ban Helper
GenericName=Peer Ban Helper.
Comment=Auto ban unwanted bittorrent client.
Exec=peerbanhelper
Icon=io.github.PBH_BTN.PeerBanHelper
Categories=Network;
Terminal=false