id: io.github.PBH_BTN.PeerBanHelper
runtime: org.freedesktop.Platform
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.openjdk21
command: peerbanhelper
finish-args:
  - --share=ipc
  - --socket=x11
  - --share=network
  - --env=PATH=/app/jre/bin:/app/bin:/usr/bin
  - --persist=data
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc
modules:

  - name: openjdk
    buildsystem: simple
    build-commands:
      - /usr/lib/sdk/openjdk21/install.sh

  - name: PeerBanHelper
    buildsystem: simple
    build-commands:
      - install -Dm755 peerbanhelper -t ${FLATPAK_DEST}/bin/
      - install -Dm644 peerbanhelper.jar -t ${FLATPAK_DEST}/bin/
      - install -Dm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications/
      - install -Dm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo/
      - install -Dm644 ${FLATPAK_ID}.png -t ${FLATPAK_DEST}/share/icons/hicolor/256x256/apps/
    sources:
      - type: file
        url: https://github.com/PBH-BTN/PeerBanHelper/releases/download/v6.4.3/PeerBanHelper.jar
        dest-filename: peerbanhelper.jar
        sha256: 53364a064ddfba43b709ce0b36db5eed89be9f8805700132fc48e7ec0eea8aa8
        x-checker-data:
          type: json
          url: https://api.github.com/repos/PBH-BTN/PeerBanHelper/releases/latest
          version-query: .tag_name
          url-query: .assets[] | select(.name=="PeerBanHelper.jar") | .browser_download_url

      - type: file
        path: io.github.PBH_BTN.PeerBanHelper.metainfo.xml

      - type: file
        path: io.github.PBH_BTN.PeerBanHelper.png

      - type: file
        path: io.github.PBH_BTN.PeerBanHelper.desktop

      - type: script
        commands:
          - java -jar -Xmx256M -XX:+UseG1GC -XX:+UseStringDeduplication -XX:+ShrinkHeapInSteps
            -jar /app/bin/peerbanhelper.jar
        dest-filename: peerbanhelper

