app-id: io.github.wgh136.pixes
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.llvm20
command: pixes
finish-args:
  - --share=ipc
  - --socket=fallback-x11
  - --socket=wayland
  - --share=network
  - --device=dri
  - --own-name=com.github.wgh136.pixes
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:
  - name: pixes
    buildsystem: simple
    build-options:
      build-args:
        - --share=network
      arch:
        x86_64:
          env:
            BUNDLE_PATH: build/linux/x64/release/bundle
        aarch64:
          env:
            BUNDLE_PATH: build/linux/arm64/release/bundle
      append-path: /usr/lib/sdk/llvm20/bin:/run/build/pixes/flutter/bin
      prepend-ld-library-path: /usr/lib/sdk/llvm20/lib
      env:
        PUB_CACHE: /run/build/pixes/.pub-cache
    build-commands:
      - flutter build linux --release
      - mkdir -pv ${FLATPAK_DEST}/bin
      - cp -rv ${BUNDLE_PATH}/* ${FLATPAK_DEST}/bin
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dvm644 debian/gui/pixes.desktop ${FLATPAK_DEST}/share/applications/${FLATPAK_ID}.desktop
      - install -Dvm644 debian/gui/pixes.png ${FLATPAK_DEST}/share/icons/hicolor/128x128/apps/${FLATPAK_ID}.png
      - desktop-file-edit --set-key="Categories" --set-value="Graphics;Network;" --set-key="Exec"
        --set-value="pixes %u" --set-key="Icon" --set-value="io.github.wgh136.pixes"
        ${FLATPAK_DEST}/share/applications/${FLATPAK_ID}.desktop
    sources:
      - type: git
        url: https://github.com/wgh136/pixes.git
        tag: v1.2.0
        commit: 558832d188014bff1b388232f453c269b8fdfaf7
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$
          is-main-source: true
      - type: file
        path: io.github.wgh136.pixes.metainfo.xml
      - type: git
        url: https://github.com/flutter/flutter.git
        tag: 3.38.5
        commit: f6ff1529fd6d8af5f706051d9251ac9231c83407
        dest: flutter
        x-checker-data:
          type: git
          tag-pattern: ^([\d.]+)$
