app-id: io.github.venera_app.venera
runtime: org.gnome.Platform
runtime-version: '49'
sdk: org.gnome.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.llvm21
command: venera
finish-args:
  - --socket=wayland
  - --share=network
  - --device=dri
  - --talk-name=org.freedesktop.ScreenSaver
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:

  - name: rustup
    buildsystem: simple
    build-options:
      build-args:
        - --share=network
      env:
        CARGO_HOME: /var/lib/rustup
        RUSTUP_HOME: /var/lib/rustup
    build-commands:
      - chmod -v +x rustup-init && ./rustup-init -y --profile minimal --no-modify-path
    sources:
      - type: file
        only-arches: [x86_64]
        url: https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init
        sha256: 20a06e644b0d9bd2fbdbfd52d42540bdde820ea7df86e92e533c073da0cdd43c
      - type: file
        only-arches: [aarch64]
        url: https://static.rust-lang.org/rustup/dist/aarch64-unknown-linux-gnu/rustup-init
        sha256: e3853c5a252fca15252d07cb23a1bdd9377a8c6f3efa01531109281ae47f841c

  - name: venera
    buildsystem: simple
    build-options:
      build-args:
        - --share=network
      arch:
        x86_64:
          env:
            BUNDLE_PATH: build/linux/x64/release/bundle
        aarch64:
          env:
            BUNDLE_PATH: build/linux/arm64/release/bundle
      append-path: /var/lib/rustup/bin:/usr/lib/sdk/llvm21/bin:/run/build/venera/flutter/bin
      prepend-ld-library-path: /usr/lib/sdk/llvm21/lib
      env:
        RUSTUP_HOME: /var/lib/rustup
        CARGO_HOME: /var/lib/rustup
        PUB_CACHE: /run/build/venera/.pub-cache
    build-commands:
      - flutter build linux --release
      - mkdir -pv ${FLATPAK_DEST}/bin
      - mkdir -pv ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - cp -av ${BUNDLE_PATH}/* ${FLATPAK_DEST}/bin
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - ffmpeg -i debian/gui/venera.png -vf "scale=512:512:force_original_aspect_ratio=decrease:flags=lanczos"
        -compression_level 10 ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps/${FLATPAK_ID}.png
      - install -Dvm644 debian/gui/venera.desktop ${FLATPAK_DEST}/share/applications/${FLATPAK_ID}.desktop
      - desktop-file-edit --set-key="Categories" --set-value="Graphics;Network;" --set-key="Exec"
        --set-value="venera" --set-key="Icon" --set-value="io.github.venera_app.venera"
        ${FLATPAK_DEST}/share/applications/${FLATPAK_ID}.desktop
    sources:
      - type: git
        url: https://github.com/venera-app/venera.git
        tag: v1.6.2
        commit: 4ee4c7406ecff7c81cbc3b9acdbdcce4f51ad6af
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$
          is-main-source: true
      - type: file
        path: io.github.venera_app.venera.metainfo.xml
      - type: git
        url: https://github.com/flutter/flutter.git
        tag: 3.41.2
        commit: 90673a4eef275d1a6692c26ac80d6d746d41a73a
        dest: flutter
        x-checker-data:
          type: git
          tag-pattern: ^([\d.]+)$
