app-id: com.qq.qq
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: qq

finish-args:
  - --share=network
  - --socket=wayland
  - --socket=pulseaudio
  - --device=dri
  - --filesystem=xdg-download
  - --talk-name=org.kde.StatusNotifierWatcher
  - --system-talk-name=org.freedesktop.login1
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:

  - name: kerberos
    subdir: src
    config-opts:
      - --disable-static
      - --disable-rpath
    sources:
      - type: archive
        url: https://kerberos.org/dist/krb5/1.22/krb5-1.22.2.tar.gz
        sha256: 3243ffbc8ea4d4ac22ddc7dd2a1dc54c57874c40648b60ff97009763554eaf13
        x-checker-data:
          type: anitya
          project-id: 13287
          stable-only: true
          url-template: https://kerberos.org/dist/krb5/${version0}.${version1}/krb5-${version0}.${version1}.${version2}.tar.gz

  # runtime cups is built aginst openssl
  # need cups with gnutls for qq to load gnutls func
  - name: cups
    config-opts:
      - --with-components=all
      - --with-dbusdir=/etc/dbus-1
      - --with-systemd
      - --with-tls=gnutls
      - --with-cups-group=lp
      - --with-system-groups=wheel
      - --with-rundir=/run/cups
      - localedir=/usr/share/locale
    no-make-install: true
    post-install:
      - install -Dvm755 cups/libcups.so ${FLATPAK_DEST}/lib/libcups.so.2
    sources:
      - type: git
        url: https://github.com/OpenPrinting/cups.git
        tag: v2.4.16
        commit: 7523763f00d2063f88026d93bc5b29806240de2b
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$

  - name: librename
    buildsystem: simple
    build-commands:
      - mkdir -pv ${FLATPAK_DEST}/etc/preload
      - g++ -shared -fPIC -o rename.so rename.cpp -ldl
      - install -Dvm755 ./rename.so -t ${FLATPAK_DEST}/etc/preload/
    sources:
      - type: file
        path: rename.cpp

  # For Wayland-only compatibility, workarounding clipboard crash issue
  # https://github.com/flathub/org.flatpak.Builder.BaseApp/blob/branch/25.08/xvfb.json
  - org.flatpak.Builder.BaseApp/xvfb.json

  - name: qq
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dvm755 apply_extra.sh ${FLATPAK_DEST}/bin/apply_extra
      - install -Dvm755 qq.sh ${FLATPAK_DEST}/bin/qq
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dvm644 ${FLATPAK_ID}.png -t ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
    sources:
      - type: script
        commands:
          - export ZYPAK_LD_PRELOAD="/app/etc/preload/rename.so"
          - export TMPDIR="$XDG_RUNTIME_DIR/app/$FLATPAK_ID"
          - declare -a FLAGS
          - |
            if [[ -f "$XDG_CONFIG_HOME/qq-flags.conf" ]]
            then
              echo "Reading user defined flags from $XDG_CONFIG_HOME/qq-flags.conf..."
              readarray -t FLAGS <"$XDG_CONFIG_HOME/qq-flags.conf"
            else
              echo "Adding default flags..."
              FLAGS+=(--ozone-platform-hint=auto --enable-wayland-ime --wayland-text-input-version=3)
            fi
          - echo "Pass \`${FLAGS[*]}\` to main process..."
          - |
            if [ -z "$(ls -A /tmp/.X11-unix 2>/dev/null)" ] && [ -n "$WAYLAND_DISPLAY" ]; then
              echo "X11 socket is not available, using Wayland + Xvfb..."
              exec xvfb-run zypak-wrapper /app/extra/QQ/qq "${FLAGS[@]}" "$@"
            else
              exec zypak-wrapper /app/extra/QQ/qq "${FLAGS[@]}" "$@"
            fi
        dest-filename: qq.sh

      - type: script
        commands:
          - bsdtar --to-stdout -xvf qq.deb data.* | bsdtar -xvf -
          - mv -v opt/QQ .
          - rm -rv qq.deb usr opt
        dest-filename: apply_extra.sh

      - type: file
        path: com.qq.qq.metainfo.xml

      - type: file
        path: com.qq.qq.png

      - type: file
        path: com.qq.qq.desktop

      - type: extra-data
        filename: qq.deb
        only-arches: [x86_64]
        url: https://dldir1v6.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.22_251203_amd64_01.deb
        sha256: 3f004bdb246b3194d276c636ea96cb40a7e0b813fea470957d1331e80332bd54
        size: 170943142
        # x-checker-data:
        #   type: html
        #   url: https://cdn-go.cn/qq-web/im.qq.com_new/latest/rainbow/linuxConfig.js
        #   pattern: (https:\/\/[a-z0-9]+\.qq\.com\/qqfile\/qq\/QQNT\/Linux\/QQ_([0-9\.]+_[0-9]+)_amd64_[0-9]+\.deb)
        #   is-main-source: true

      - type: extra-data
        filename: qq.deb
        only-arches: [aarch64]
        url: https://dldir1v6.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.22_251203_arm64_01.deb
        sha256: dc70699cb90efda9ff13cefa434036986e4934169fc54766df70cbe8a2e37999
        size: 188884056
        # x-checker-data:
        #   type: html
        #   url: https://cdn-go.cn/qq-web/im.qq.com_new/latest/rainbow/linuxConfig.js
        #   pattern: (https:\/\/[a-z0-9]+\.qq\.com\/qqfile\/qq\/QQNT\/Linux\/QQ_([0-9\.]+_[0-9]+)_arm64_[0-9]+\.deb)
