app-id: com.qq.qq
runtime: org.freedesktop.Platform
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '24.08'
command: qq

finish-args:
  - --share=ipc
  - --share=network
  - --socket=x11
  - --socket=pulseaudio
  - --device=dri
  - --filesystem=xdg-download
  - --talk-name=org.kde.StatusNotifierWatcher
  - --system-talk-name=org.freedesktop.login1
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:

  - name: krb5
    buildsystem: simple
    build-commands:
      - autoreconf -i
      - ./configure --prefix=${FLATPAK_DEST}
      - make -j ${FLATPAK_BUILDER_N_JOBS}
      - make install
    subdir: src
    sources:
      - type: git
        url: https://github.com/krb5/krb5.git
        tag: krb5-1.21.3-final
        commit: 8f56f544dd179056e9b8d02552e6c5e392eb2966
        x-checker-data:
          type: git
          tag-pattern: ^krb5-([\d.]+)-final$

  # runtime cups is built aginst openssl
  # need cups with gnutls for qq to load gnutls func
  - name: cups
    config-opts:
      - --with-components=all
      - --with-dbusdir=/etc/dbus-1
      - --with-systemd
      - --with-tls=gnutls
      - --with-cups-group=lp
      - --with-system-groups=wheel
      - --with-rundir=/run/cups
      - localedir=/usr/share/locale
    no-make-install: true
    post-install:
      - install -Dm755 cups/libcups.so ${FLATPAK_DEST}/lib/libcups.so.2
    sources:
      - type: git
        url: https://github.com/OpenPrinting/cups.git
        tag: v2.4.11
        commit: 7d535f73e407a72dfb5c5e83549a5ba27219dfcd
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$

  - name: librename
    buildsystem: simple
    build-commands:
      - mkdir -p ${FLATPAK_DEST}/etc/preload
      - g++ -shared -fPIC -o rename.so rename.cpp -ldl
      - install -Dm755 ./rename.so -t ${FLATPAK_DEST}/etc/preload/
    sources:
      - type: file
        path: patch/rename.cpp

  - name: qq
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install apply_extra ${FLATPAK_DEST}/bin
      - install -Dm755 qq.sh ${FLATPAK_DEST}/bin/qq
      - install -Dm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dm644 ${FLATPAK_ID}.png -t ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - install -Dm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
    sources:
      - type: script
        commands:
          - export ZYPAK_LD_PRELOAD="/app/etc/preload/rename.so"
          - export TMPDIR="${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}"
          - WAYLAND_SOCKET=${WAYLAND_DISPLAY:-"wayland-0"}
          - |
            if [[ -e "${XDG_RUNTIME_DIR}/${WAYLAND_SOCKET}" || -e "${WAYLAND_DISPLAY}" ]]
            then
                FLAGS="--enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --wayland-text-input-version=3"
            fi
          - exec zypak-wrapper /app/extra/QQ/qq $FLAGS "$@"
        dest-filename: qq.sh

      - type: script
        commands:
          - bsdtar --to-stdout -xf qq.deb data.* | bsdtar -xf -
          - mv opt/QQ .
          - rm -rf qq.deb usr opt data.*
        dest-filename: apply_extra

      - type: file
        path: com.qq.qq.metainfo.xml

      - type: file
        path: com.qq.qq.png

      - type: file
        path: com.qq.qq.desktop

      - type: extra-data
        filename: qq.deb
        only-arches: [x86_64]
        url: https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.16_250401_amd64_01.deb
        sha256: 7feedba38cd54b2c27004d5624f52354bc85250625cf9e905446a1dae0d2ccff
        size: 152540748
        x-checker-data:
          type: html
          url: https://im.qq.com/rainbow/linuxQQDownload
          pattern: (https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_([\d\.\_]+)_amd64[^/d]*.deb)
          is-main-source: true

      - type: extra-data
        filename: qq.deb
        only-arches: [aarch64]
        url: https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.16_250401_arm64_01.deb
        sha256: 6afd4fbb96570127342669b473bc71b6610220701858ea3535039d2377c39990
        size: 152731400
        x-checker-data:
          type: html
          url: https://im.qq.com/rainbow/linuxQQDownload
          pattern: (https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_([\d\.\_]+)_arm64[^/d]*.deb)
