[Desktop Entry]
Categories=Development;IDE;
Exec=rider
GenericName=Fast & powerful, cross platform .NET IDE
Icon=com.jetbrains.Rider
Keywords=development;
Name=Rider
StartupNotify=true
StartupWMClass=jetbrains-rider
Terminal=false
Type=Application
MimeType=application/x-dotnet-solution;application/x-dotnet-fsharp-project;application/x-dotnet-csharp-project;application/x-dotnet-vb-project;text/x-csharp;text/x-fsharp;text/x-visualbasic;
