app-id: com.xiaoyaocz.simplelive
runtime: org.freedesktop.Platform
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
rename-icon: simple_live_app
rename-desktop-file: simple_live_app.desktop
command: simple_live_app
finish-args:
  - --share=ipc
  - --socket=fallback-x11
  - --socket=wayland
  - --socket=pulseaudio
  - --share=network
  - --device=dri
  - --talk-name=org.freedesktop.ScreenSaver
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc

modules:
  - name: libmpv
    buildsystem: meson
    config-opts:
      - -Dlibmpv=true
      - -Dlua=disabled
      - -Ddebug=false
      - -Dbuild-date=false
      - -Dcplayer=false
      - -Dmanpage-build=disabled
      - -Dsdl2=enabled
      # - -Dshaderc=enabled
      - -Dvulkan=enabled
      # - -Dvulkan-interop=enabled
    sources:
      - type: git
        url: https://github.com/mpv-player/mpv.git
        tag: v0.39.0
        commit: a0fba7be57f3822d967b04f0f6b6d6341e7516e7
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$

    modules:
      - name: libXpresent
        buildsystem: autotools
        sources:
          - type: git
            url: https://gitlab.freedesktop.org/xorg/lib/libxpresent.git
            tag: libXpresent-1.0.1
            commit: 37507b5f44332accfb1064ee69a4f6a833994747
            x-checker-data:
              type: git
              tag-pattern: ^libXpresent-([\d.]+)$

      - name: nv-codec-headers
        cleanup:
          - '*'
        no-autogen: true
        make-install-args:
          - PREFIX=/app
        sources:
          - type: git
            url: https://github.com/FFmpeg/nv-codec-headers.git
            tag: n12.2.72.0
            commit: c69278340ab1d5559c7d7bf0edf615dc33ddbba7
            x-checker-data:
              type: git
              tag-pattern: ^n([\d.]+)$

      - name: libass
        config-opts:
          - --disable-static
        sources:
          - type: git
            url: https://github.com/libass/libass.git
            tag: 0.17.3
            commit: e46aedea0a0d17da4c4ef49d84b94a7994664ab5
            x-checker-data:
              type: git
              tag-pattern: ^(\d\.\d{1,3}\.\d{1,2})$

      - name: uchardet
        buildsystem: cmake-ninja
        config-opts:
          - -DCMAKE_BUILD_TYPE=Release
          - -DBUILD_STATIC=0
        sources:
          - type: archive
            url: https://www.freedesktop.org/software/uchardet/releases/uchardet-0.0.8.tar.xz
            sha256: e97a60cfc00a1c147a674b097bb1422abd9fa78a2d9ce3f3fdcc2e78a34ac5f0
            x-checker-data:
              type: anitya
              project-id: 9265
              stable-only: true
              url-template: https://www.freedesktop.org/software/uchardet/releases/uchardet-$version.tar.xz

      - name: libplacebo
        buildsystem: meson
        config-opts:
          - -Dshaderc=enabled
          - -Dvulkan=enabled
          - -Dd3d11=disabled
          - -Ddemos=false
        sources:
          - type: git
            url: https://code.videolan.org/videolan/libplacebo.git
            tag: v7.349.0
            commit: 1fd3c7bde7b943fe8985c893310b5269a09b46c5
            x-checker-data:
              type: git
              tag-pattern: ^v([\d.]+)$
        modules:
          - name: shaderc
            buildsystem: cmake-ninja
            builddir: true
            config-opts:
              - -DSHADERC_SKIP_COPYRIGHT_CHECK=ON
              - -DSHADERC_SKIP_EXAMPLES=ON
              - -DSHADERC_SKIP_TESTS=ON
              - -DSPIRV_SKIP_EXECUTABLES=ON
              - -DENABLE_GLSLANG_BINARIES=OFF
            cleanup:
              - /bin
              - /include
              - /lib/cmake
              - /lib/pkgconfig
            sources:
              - type: git
                url: https://github.com/google/shaderc.git
                tag: v2024.3
                commit: ff84893dd52d28f0b1737d2635733d952013bd9c
                x-checker-data:
                  type: git
                  tag-pattern: ^v(\d{4}\.\d{1,2})$
              - type: archive
                url: https://github.com/KhronosGroup/SPIRV-Tools/archive/refs/tags/sdk-1.3.261.1.tar.gz
                sha256: ead95c626ad482882a141d1aa0ce47b9453871f72c42c0b28d39c82f60a52008
                dest: third_party/spirv-tools
                x-checker-data:
                  type: anitya
                  stable-only: true
                  project-id: 334920
                  url-template: https://github.com/KhronosGroup/SPIRV-Tools/archive/refs/tags/sdk-$version.tar.gz
              - type: archive
                url: https://github.com/KhronosGroup/SPIRV-Headers/archive/refs/tags/sdk-1.3.261.1.tar.gz
                sha256: 32b4c6ae6a2fa9b56c2c17233c8056da47e331f76e117729925825ea3e77a739
                dest: third_party/spirv-headers
                x-checker-data:
                  type: anitya
                  stable-only: true
                  project-id: 334920
                  url-template: https://github.com/KhronosGroup/SPIRV-Headers/archive/refs/tags/sdk-$version.tar.gz
              - type: git
                url: https://github.com/KhronosGroup/glslang.git
                tag: 15.0.0
                commit: 46ef757e048e760b46601e6e77ae0cb72c97bd2f
                dest: third_party/glslang
                x-checker-data:
                  type: git
                  tag-pattern: ^(\d{1,2}\.\d{1,2}\.\d{1,4})$

      - name: ffmpeg
        cleanup:
          - /share/ffmpeg/examples
        config-opts:
          - --disable-debug
          - --disable-doc
          - --disable-programs
          - --disable-static
          - --disable-encoders
          - --disable-muxers
          - --enable-shared
          - --enable-gnutls
          - --enable-gpl
          - --enable-version3
          - --enable-encoder=png,libwebp,libjxl
          - --enable-libv4l2
          - --enable-libdav1d
          - --enable-libfontconfig
          - --enable-libfreetype
          - --enable-libopus
          - --enable-librsvg
          - --enable-libvpx
          - --enable-libmp3lame
          - --enable-libwebp
          - --enable-libjxl
          - --enable-libxml2
        sources:
          - type: archive
            url: https://ffmpeg.org/releases/ffmpeg-7.1.tar.gz
            sha256: 42a7dc0d1583885d1b8f6559fa7ce28f97acafea6803de6a8f73e3ba229348bd
            x-checker-data:
              type: anitya
              project-id: 5405
              stable-only: true
              url-template: https://ffmpeg.org/releases/ffmpeg-$version.tar.gz

  - name: simple_live
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - bsdtar --to-stdout -xf *.deb data.* | bsdtar -xf -
      - rm -r usr/share/icons
      - mv usr/share/simple_live_app /app/
      - cp -a usr/share /app/
      - desktop-file-edit --set-name="Simple Live" --set-key="Categories" --set-value="AudioVideo;Audio;Video;Network;"
        --remove-key="Version" /app/share/applications/simple_live_app.desktop
      - chmod +x /app/simple_live_app/simple_live_app
      - install -Dm755 simple_live_app.sh /app/bin/simple_live_app
      - install -Dm644 simple_live_app.png -t /app/share/icons/hicolor/512x512/apps
      - install -Dm644 com.xiaoyaocz.simplelive.metainfo.xml -t /app/share/metainfo
      - ln -s libmpv.so.2 /app/lib/libmpv.so.1
    sources:
      - type: file
        url: https://github.com/xiaoyaocz/dart_simple_live/releases/download/v1.7.4/simple_live_app-1.7.4%2B10704-linux.deb
        only-arches: [x86_64]
        sha256: 64c0beca9cca928aa60f86e3759dbad4a855d7758fcbbd628662cadb4087762e
        x-checker-data:
          type: json
          url: https://api.github.com/repos/xiaoyaocz/dart_simple_live/releases/latest
          version-query: .tag_name | sub("^v"; "")
          url-query: >-
            .assets[] | select(.name | test("^simple_live_app-" + $version + "\\+\\d+-linux\\.deb$"))
            |
            .browser_download_url

      - type: file
        url: https://raw.githubusercontent.com/xiaoyaocz/dart_simple_live/desktop/simple_live_app/assets/images/logo.png
        dest-filename: simple_live_app.png
        sha256: 9a748937746a91370d97386f194f6bc285e32637595a769c0c33ea213508a0cc

      - type: file
        path: com.xiaoyaocz.simplelive.metainfo.xml

      - type: script
        commands:
          - export TMPDIR="$XDG_RUNTIME_DIR/app/$FLATPAK_ID"
          - export LD_LIBRARY_PATH=/app/lib
          - exec /app/simple_live_app/simple_live_app "$@"
        dest-filename: simple_live_app.sh
