app-id: com.xiaoyaocz.simplelive
runtime: org.freedesktop.Platform
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
rename-icon: simple_live_app
rename-desktop-file: simple_live_app.desktop
command: simple_live_app
finish-args:
  - --share=ipc
  - --socket=fallback-x11
  - --socket=wayland
  - --socket=pulseaudio
  - --share=network
  - --device=dri
  - --talk-name=org.freedesktop.ScreenSaver
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc

modules:
  - name: libmpv
    buildsystem: meson
    config-opts:
      - -Dlibmpv=true
      - -Dlua=disabled
      - -Ddebug=false
      - -Dbuild-date=false
      - -Dcplayer=false
      - -Dmanpage-build=disabled
      - -Dvulkan=enabled
      - -Dsdl2=enabled
    sources:
      - type: git
        url: https://github.com/mpv-player/mpv.git
        tag: v0.39.0
        commit: a0fba7be57f3822d967b04f0f6b6d6341e7516e7
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$

    modules:
      - name: libXpresent
        buildsystem: autotools
        sources:
          - type: git
            url: https://gitlab.freedesktop.org/xorg/lib/libxpresent.git
            tag: libXpresent-1.0.1
            commit: 37507b5f44332accfb1064ee69a4f6a833994747
            x-checker-data:
              type: git
              tag-pattern: ^libXpresent-([\d.]+)$

      - name: nv-codec-headers
        cleanup:
          - '*'
        no-autogen: true
        make-install-args:
          - PREFIX=/app
        sources:
          - type: git
            url: https://github.com/FFmpeg/nv-codec-headers.git
            tag: n13.0.19.0
            commit: e844e5b26f46bb77479f063029595293aa8f812d
            x-checker-data:
              type: git
              tag-pattern: ^n([\d.]+)$

      - name: libass
        config-opts:
          - --disable-static
        sources:
          - type: git
            url: https://github.com/libass/libass.git
            tag: 0.17.3
            commit: e46aedea0a0d17da4c4ef49d84b94a7994664ab5
            x-checker-data:
              type: git
              tag-pattern: ^([\d.]+)$

      - name: uchardet
        buildsystem: cmake-ninja
        config-opts:
          - -DCMAKE_BUILD_TYPE=Release
          - -DBUILD_STATIC=0
        sources:
          - type: git
            url: https://gitlab.freedesktop.org/uchardet/uchardet.git
            tag: v0.0.8
            commit: ae6302a016088ad07177f86d417b20010053632b
            x-checker-data:
              type: git
              tag-pattern: ^v([\d.]+)$

      - name: libplacebo
        buildsystem: meson
        config-opts:
          - -Dvulkan=enabled
          - -Dshaderc=enabled
          - -Dd3d11=disabled
          - -Ddemos=false
        sources:
          - type: git
            url: https://code.videolan.org/videolan/libplacebo.git
            tag: v7.349.0
            commit: 1fd3c7bde7b943fe8985c893310b5269a09b46c5
            x-checker-data:
              type: git
              tag-pattern: ^v([\d.]+)$

      - name: ffmpeg
        cleanup:
          - /share/ffmpeg/examples
        config-opts:
          - --disable-debug
          - --disable-doc
          - --disable-static
          - --disable-programs
          - --disable-encoders
          - --disable-muxers
          - --enable-shared
          - --enable-gnutls
          - --enable-gpl
          - --enable-version3
          - --enable-encoder=png,libwebp,libjxl
          - --enable-libv4l2
          - --enable-libdav1d
          - --enable-libfontconfig
          - --enable-libfreetype
          - --enable-libopus
          - --enable-librsvg
          - --enable-libvpx
          - --enable-libmp3lame
          - --enable-libwebp
          - --enable-libjxl
          - --enable-libxml2
          - --enable-libplacebo
          - --enable-vulkan
        sources:
          - type: git
            url: https://git.ffmpeg.org/ffmpeg.git
            commit: b08d7969c550a804a59511c7b83f2dd8cc0499b8
            tag: n7.1
            x-checker-data:
              type: git
              tag-pattern: ^n([\d.]+)$

  - name: simple_live
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - bsdtar --to-stdout -xf *.deb data.* | bsdtar -xf -
      - rm -r usr/share/icons
      - mv usr/share/simple_live_app ${FLATPAK_DEST}/
      - cp -a usr/share ${FLATPAK_DEST}/
      - desktop-file-edit --set-name="Simple Live" --set-key="Categories" --set-value="AudioVideo;Audio;Video;Network;"
        --remove-key="Version" ${FLATPAK_DEST}/share/applications/simple_live_app.desktop
      - install -Dm755 simple_live_app.sh ${FLATPAK_DEST}/bin/simple_live_app
      - install -Dm644 simple_live_app.png -t ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - install -Dm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - ln -s libmpv.so.2 ${FLATPAK_DEST}/lib/libmpv.so.1
    sources:
      - type: file
        url: https://github.com/xiaoyaocz/dart_simple_live/releases/download/v1.7.6/simple_live_app-1.7.6%2B10706-linux.deb
        only-arches: [x86_64]
        sha256: 47ae6ab67f9802a0c88df0c42a469b3bb57a1a113c6483890f02a690405d05bb
        x-checker-data:
          type: json
          url: https://api.github.com/repos/xiaoyaocz/dart_simple_live/releases/latest
          version-query: .tag_name | sub("^v"; "")
          url-query: >-
            .assets[] | select(.name | test("^simple_live_app-" + $version + "\\+\\d+-linux\\.deb$"))
            |
            .browser_download_url

      - type: file
        url: https://raw.githubusercontent.com/xiaoyaocz/dart_simple_live/desktop/simple_live_app/assets/images/logo.png
        dest-filename: simple_live_app.png
        sha256: 9a748937746a91370d97386f194f6bc285e32637595a769c0c33ea213508a0cc

      - type: file
        path: com.xiaoyaocz.simplelive.metainfo.xml

      - type: script
        commands:
          - export TMPDIR="${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}"
          - export LD_LIBRARY_PATH=/app/lib
          - exec /app/simple_live_app/simple_live_app "$@"
        dest-filename: simple_live_app.sh
