[Desktop Entry]
Type=Application
Name=SimpleLive
GenericName=Livestream Player
Icon=io.github.slotsun.simplelive
Exec=simple_live_app %U
Categories=AudioVideo;Audio;Video;Network
Keywords=Livestream;Video
StartupNotify=true
