id: org.freedesktop.xorg.xeyes
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
command: xeyes
finish-args:
  - --socket=x11
  - --device=dri
  - --share=ipc

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:
  - name: libXmu
    buildsystem: autotools
    sources:
      - type: git
        url: https://gitlab.freedesktop.org/xorg/lib/libxmu.git
        tag: libXmu-1.3.0
        commit: 6c77f37406a9d12be5980f4a9212d722c00c530a
        x-checker-data:
          type: git
          tag-pattern: ^libXmu-([\d.]+)$

  - name: xeyes
    buildsystem: autotools
    post-install:
      - install -Dvm644 ${FLATPAK_ID}.png -t ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
    sources:
      - type: git
        url: https://gitlab.freedesktop.org/xorg/app/xeyes.git
        tag: xeyes-1.3.1
        commit: 7dc4f720f57471d2eccefd87cdca54494cf75eb5
        x-checker-data:
          type: git
          tag-pattern: ^xeyes-([\d.]+)$
      - type: file
        path: org.freedesktop.xorg.xeyes.png
      - type: file
        path: org.freedesktop.xorg.xeyes.desktop
      - type: file
        path: org.freedesktop.xorg.xeyes.metainfo.xml
