app-id: com.larksuite.lark
runtime: org.freedesktop.Platform
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '24.08'
command: lark
finish-args:
  - --share=network
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  # For camera
  - --device=all
  - --talk-name=org.freedesktop.secrets
  - --talk-name=org.gnome.keyring
  - --talk-name=org.gnome.ScreenSaver
  - --talk-name=org.kde.StatusNotifierWatcher
  - --own-name=org.kde.*
  # Share files
  - --filesystem=xdg-documents
  - --filesystem=xdg-download
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:
  - name: lark
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dm755 lark -t ${FLATPAK_DEST}/bin
      - install -Dm755 apply_extra -t ${FLATPAK_DEST}/bin
      - install -Dm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps
      - install -Dm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
    sources:
      - type: script
        commands:
          - export TMPDIR="${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}"
          - source /app/extra/lark/bytedance-lark.sh
          - exec zypak-wrapper /app/extra/lark/lark "$@"
        dest-filename: lark
      - type: script
        commands:
          - bsdtar --to-stdout -xf Lark-linux.deb data.tar.xz | bsdtar -xf -
          - mv opt/bytedance/lark .
          - sed '/^exec -a/d' lark/bytedance-lark > lark/bytedance-lark.sh
          - rm -rf opt usr *.deb
        dest-filename: apply_extra
      - type: extra-data
        filename: Lark-linux.deb
        url: https://sf16-va.larksuitecdn.com/obj/lark-artifact-storage/afc02e52/Lark-linux_x64-7.32.11.deb
        sha256: 85f2ca6cacd9cce62a3461282f0e203172368df36fb453d4ee100e0de03d4b15
        size: 382855940
        only-arches: [x86_64]
        x-checker-data:
          type: json
          url: https://www.larksuite.com/api/downloads
          version-query: .versions.Linux_deb_x64.version_number | sub("^Linux-x64-deb@V"; "")
          url-query: .versions.Linux_deb_x64.download_link
      - type: extra-data
        filename: Lark-linux.deb
        url: https://sf16-va.larksuitecdn.com/obj/lark-artifact-storage/240d90bd/Lark-linux_arm64-7.32.11.deb
        sha256: f11e44e1b067ccc5ef6687324d7a87ac96fd83e81b06d56b2a63b6dcdc562a4a
        size: 349235304
        only-arches: [aarch64]
        x-checker-data:
          type: json
          url: https://www.larksuite.com/api/downloads
          version-query: .versions.Linux_deb_arm.version_number | sub("^Linux-arm64-deb@V"; "")
          url-query: .versions.Linux_deb_arm.download_link
      - type: file
        path: com.larksuite.lark.desktop
      - type: file
        path: com.larksuite.lark.metainfo.xml
      - type: file
        path: com.larksuite.lark.svg
