app-id: com.larksuite.lark
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: lark
finish-args:
  - --share=network
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  # For camera
  - --device=all
  - --talk-name=org.freedesktop.Notifications
  - --talk-name=org.freedesktop.secrets
  - --talk-name=org.gnome.keyring
  - --talk-name=org.gnome.ScreenSaver
  - --talk-name=org.kde.StatusNotifierWatcher
  - --talk-name=org.kde.kwin.Screenshot
  - --talk-name=org.kde.KWin.ScreenShot2
  - --own-name=org.kde.*
  - --system-talk-name=org.freedesktop.login1
  - --system-talk-name=org.freedesktop.UPower
  # Share files
  - --filesystem=xdg-documents
  - --filesystem=xdg-download
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc
modules:
  - name: lark
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dvm755 lark -t ${FLATPAK_DEST}/bin
      - install -Dvm755 apply_extra -t ${FLATPAK_DEST}/bin
      - install -Dvm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
    sources:
      - type: script
        commands:
          - export TMPDIR="${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}"
          - source /app/extra/lark/bytedance-lark.sh
          - exec zypak-wrapper /app/extra/lark/lark "$@"
        dest-filename: lark
      - type: script
        commands:
          - bsdtar --to-stdout -xvf lark-linux.deb data.tar.xz | bsdtar -xvf -
          - mv -v opt/bytedance/lark .
          - sed '/^exec -a/d' lark/bytedance-lark > lark/bytedance-lark.sh
          - rm -rv opt usr *.deb
        dest-filename: apply_extra
      - type: extra-data
        filename: lark-linux.deb
        url: https://sf16-sg.larksuitecdn.com/obj/lark-artifact-storage/967dd7e4/Lark-linux_x64-7.59.12.deb
        sha256: 39ae6d0a7da5e3327369fce8c4b7c06555eed335882cabfe0de589b1046c66d2
        size: 439559612
        only-arches: [x86_64]
        x-checker-data:
          type: json
          url: https://www.larksuite.com/api/downloads
          version-query: .versions.Linux_deb_x64.version_number | sub("^Linux-x64-deb@V";
            "")
          url-query: .versions.Linux_deb_x64.download_link
      - type: extra-data
        filename: lark-linux.deb
        url: https://sf16-sg.larksuitecdn.com/obj/lark-artifact-storage/2d8485bc/Lark-linux_arm64-7.59.12.deb
        sha256: ab6ec37b47ec790123dc2f57efb679b3c1544b15c9ee098f6c5cb5d14687dd27
        size: 400828012
        only-arches: [aarch64]
        x-checker-data:
          type: json
          url: https://www.larksuite.com/api/downloads
          version-query: .versions.Linux_deb_arm.version_number | sub("^Linux-arm64-deb@V";
            "")
          url-query: .versions.Linux_deb_arm.download_link
      - type: file
        path: com.larksuite.lark.desktop
      - type: file
        path: com.larksuite.lark.metainfo.xml
      - type: file
        path: com.larksuite.lark.svg
