app-id: com.cherry_ai.cherrystudio
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: cherrystudio
finish-args:
  - --socket=wayland
  - --share=network
  - --device=dri
  - --talk-name=org.kde.StatusNotifierWatcher
  - --system-talk-name=org.freedesktop.login1
  - --system-talk-name=org.chromium.bluetooth.Manager
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons

add-extensions:
  org.freedesktop.Platform.electron:
    version: '25.08'
    directory: electron

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:
  - name: p7zip
    no-autogen: true
    make-args:
      - 7z
    sources:
      - type: git
        url: https://github.com/p7zip-project/p7zip
        tag: v17.06
        commit: d9c3d157c62e842897d4447db717f813810e1423
        x-checker-data:
          type: git
          tag-pattern: ^v([\d.]+)$
      - type: shell
        commands:
          - sed -i 's|/usr/local|/app|g' makefile.common

  - name: cherrystudio
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - mkdir -pv ${FLATPAK_DEST}/electron
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dvm644 ${FLATPAK_ID}.png -t ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps
      - install -Dvm755 cherrystudio.sh ${FLATPAK_DEST}/bin/cherrystudio
      - install -Dvm755 apply_extra.sh ${FLATPAK_DEST}/bin/apply_extra
    sources:
      - type: extra-data
        only-arches: [x86_64]
        url: https://github.com/CherryHQ/cherry-studio/releases/download/v1.7.2/Cherry-Studio-1.7.2-x86_64.AppImage
        sha256: 49e2ef7df7e1520fabe6775a7bd45153af3eed0d6db8a3ffbba785b1dc49e515
        size: 172945910
        filename: Cherry-Studio.AppImage
        x-checker-data:
          type: json
          url: https://api.github.com/repos/CherryHQ/cherry-studio/releases/latest
          version-query: .tag_name | sub("^v"; "")
          url-query: .assets[] | select(.name | endswith("x86_64.AppImage")) | .browser_download_url
      - type: extra-data
        only-arches: [aarch64]
        url: https://github.com/CherryHQ/cherry-studio/releases/download/v1.7.2/Cherry-Studio-1.7.2-arm64.AppImage
        sha256: 42f74736ce5f82d39091caa20ff10627ef5c8ca613394b28b06948014dd60046
        size: 172439279
        filename: Cherry-Studio.AppImage
        x-checker-data:
          type: json
          url: https://api.github.com/repos/CherryHQ/cherry-studio/releases/latest
          version-query: .tag_name | sub("^v"; "")
          url-query: .assets[] | select(.name | endswith("arm64.AppImage")) | .browser_download_url
      - type: file
        path: com.cherry_ai.cherrystudio.metainfo.xml
      - type: file
        path: com.cherry_ai.cherrystudio.png
      - type: file
        path: com.cherry_ai.cherrystudio.desktop
      - type: script
        dest-filename: apply_extra.sh
        commands:
          - 7z x ./Cherry-Studio.AppImage -otemp
          - mv -v temp/resources ./cherrystudio
          - rm -rv temp Cherry-Studio.AppImage
      - type: script
        dest-filename: cherrystudio.sh
        commands:
          - export TMPDIR=${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}
          - exec zypak-wrapper "/app/electron/electron" "/app/extra/cherrystudio/app.asar"
            "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--enable-wayland-ime"
            "--wayland-text-input-version=3" "$@"
