app-id: com.visualstudio.code
runtime: org.freedesktop.Sdk
runtime-version: '24.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '24.08'
command: code
tags: [proprietary]
separate-locales: false
finish-args:
  - --require-version=0.10.3
  - --share=network
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  - --socket=ssh-auth
  - --device=all
  - --allow=devel
  - --filesystem=host
  - --env=NPM_CONFIG_GLOBALCONFIG=/app/etc/npmrc
  - --env=LD_LIBRARY_PATH=/app/lib
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons
  - --system-talk-name=org.freedesktop.login1
  - --talk-name=org.freedesktop.Notifications
  - --talk-name=org.freedesktop.secrets
  - --talk-name=org.freedesktop.Flatpak
  - --talk-name=com.canonical.AppMenu.Registrar
  - --talk-name=com.canonical.AppMenu.Registrar.*
add-extensions:
  com.visualstudio.code.tool:
    directory: tools
    subdirectories: true
    version: '24.08'
    add-ld-path: lib
    no-autodownload: true
cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc
modules:
  - shared-modules/libusb/libusb.json

  # Provide libsecret without gcrypt, forcing it to use the D-Bus backend
  # https://github.com/flathub/org.signal.Signal/pull/756/commits/2caf105b18f906e7707f67b3cf7384a21f461564
  - name: libsecret
    buildsystem: meson
    config-opts:
      - -Dmanpage=false
      - -Dcrypto=disabled
      - -Dvapi=false
      - -Dgtk_doc=false
      - -Dintrospection=false
      - -Dbash_completion=disabled
    cleanup:
      - /bin
      - /include
      - /lib/pkgconfig
      - /share/man
    sources:
      - type: archive
        url: https://download.gnome.org/sources/libsecret/0.21/libsecret-0.21.4.tar.xz
        sha256: 163d08d783be6d4ab9a979ceb5a4fecbc1d9660d3c34168c581301cd53912b20
        x-checker-data:
          type: gnome
          name: libsecret
          stable-only: true

  - name: vscode
    buildsystem: simple
    build-commands:
      - install -Dm755 code.sh ${FLATPAK_DEST}/bin/code
      - install -Dm644 vscode_64.png ${FLATPAK_DEST}/share/icons/hicolor/64x64/apps/${FLATPAK_ID}.png
      - install -Dm644 vscode_128.png ${FLATPAK_DEST}/share/icons/hicolor/128x128/apps/${FLATPAK_ID}.png
      - install -Dm644 vscode_256.png ${FLATPAK_DEST}/share/icons/hicolor/256x256/apps/${FLATPAK_ID}.png
      - install -Dm644 vscode_512.png ${FLATPAK_DEST}/share/icons/hicolor/512x512/apps/${FLATPAK_ID}.png
      - install -Dm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dm644 ${FLATPAK_ID}-url-handler.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dm644 ${FLATPAK_ID}-workspace.xml -t ${FLATPAK_DEST}/share/mime/packages
      - install -Dm644 npmrc -t ${FLATPAK_DEST}/etc
      - install -Dm644 flatpak-warning.txt -t ${FLATPAK_DEST}/share/vscode
      - install -Dm755 apply_extra -t ${FLATPAK_DEST}/bin
      - mkdir ${FLATPAK_DEST}/tools
    sources:
      - type: script
        dest-filename: apply_extra
        commands:
          - bsdtar --to-stdout -xf code.deb data.* | bsdtar --no-same-owner -xf -
          - mv usr/share/code vscode
          - rm -r code.deb usr
      - type: file
        path: code.sh
      - type: file
        path: flatpak-warning.txt
      - type: file
        path: npmrc
      - type: file
        path: ${FLATPAK_ID}.metainfo.xml
      - type: file
        path: ${FLATPAK_ID}.desktop
      - type: file
        path: ${FLATPAK_ID}-url-handler.desktop
      - type: file
        path: ${FLATPAK_ID}-workspace.xml
      - type: file
        path: icons/vscode_64.png
      - type: file
        path: icons/vscode_128.png
      - type: file
        path: icons/vscode_256.png
      - type: file
        path: icons/vscode_512.png
      - type: extra-data
        filename: code.deb
        only-arches: [x86_64]
        url: https://update.code.visualstudio.com/1.96.2/linux-deb-x64/stable
        sha256: ff58dfdb0e5674d8e42e1f3907be75a36587b1ca45e586ac06353e97869474e7
        size: 104543802
        x-checker-data:
          type: json
          url: https://api.github.com/repos/microsoft/vscode/releases/latest
          version-query: .tag_name
          timestamp-query: .published_at
          url-query: '"https://update.code.visualstudio.com/" + $version + "/linux-deb-x64/stable"'
          is-main-source: true

      - type: extra-data
        filename: code.deb
        only-arches: [aarch64]
        url: https://update.code.visualstudio.com/1.96.2/linux-deb-arm64/stable
        sha256: 4205d715b583d12841c11aa32fd4a1b0fa2d1fe472949ffd30ea04c71e3176cc
        size: 96670710
        x-checker-data:
          type: json
          url: https://api.github.com/repos/microsoft/vscode/releases/latest
          version-query: .tag_name
          timestamp-query: .published_at
          url-query: '"https://update.code.visualstudio.com/" + $version + "/linux-deb-arm64/stable"'

  - name: kerberos
    subdir: src
    post-install:
      - install -Dm644 ../krb5.conf ${FLATPAK_DEST}/etc/krb5.conf
    sources:
      - type: archive
        url: https://kerberos.org/dist/krb5/1.20/krb5-1.20.tar.gz
        sha256: 7e022bdd3c851830173f9faaa006a230a0e0fdad4c953e85bff4bf0da036e12f
      - type: file
        path: krb5.conf

  - name: host-spawn
    buildsystem: simple
    build-commands:
      - install -Dm755 host-spawn ${FLATPAK_DEST}/bin/host-spawn
    sources:
      - type: file
        url: https://github.com/1player/host-spawn/releases/download/v1.6.0/host-spawn-x86_64
        sha256: 75159f0d3924a0bd6d230c6414d19ad44609b5a16671db6624681c910f9bb4ff
        dest-filename: host-spawn
        only-arches: [x86_64]
        x-checker-data:
          type: json
          url: https://api.github.com/repos/1player/host-spawn/releases/latest
          tag-query: .tag_name
          version-query: .tag_name
          timestamp-query: .published_at
          url-query: '[.assets[] | select(.name|test(".+x86_64$"))][0] | .browser_download_url'
      - type: file
        url: https://github.com/1player/host-spawn/releases/download/v1.6.0/host-spawn-aarch64
        sha256: 00f9617c139b9447e6c453a27602ca87f28cdac3aa62b04dcb38d215b2758165
        dest-filename: host-spawn
        only-arches: [aarch64]
        x-checker-data:
          type: json
          url: https://api.github.com/repos/1player/host-spawn/releases/latest
          tag-query: .tag_name
          version-query: .tag_name
          timestamp-query: .published_at
          url-query: '[.assets[] | select(.name|test(".+aarch64$"))][0] | .browser_download_url'
