app-id: com.qq.docs
runtime: org.freedesktop.Platform
runtime-version: '23.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '23.08'
separate-locales: false
command: tdappdesktop

finish-args:
  - --share=ipc
  - --socket=x11
  - --device=dri
  - --share=network
  - --filesystem=xdg-download
  - --talk-name=org.freedesktop.Notifications
  - --talk-name=org.kde.StatusNotifierWatcher

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/gtk-doc

modules:
  - name: docs
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - install -Dm755 apply_extra -t /app/bin
      - install -Dm644 com.qq.docs.svg -t /app/share/icons/hicolor/scalable/apps
      - install -Dm644 com.qq.docs.desktop -t /app/share/applications
      - install -Dm644 com.qq.docs.metainfo.xml -t /app/share/metainfo
      - install -Dm755 tdappdesktop.sh /app/bin/tdappdesktop
    sources:
      - type: extra-data
        only-arches: [aarch64]
        filename: docs.deb
        url: https://desktop.docs.qq.com/Installer/30001/3.5.3/TencentDocs-arm64.deb
        sha256: 76707eb3794278d0d532ee93dc1c8dee46233c36c50d41043941b93899930952
        size: 145707508
        x-checker-data:
          type: json
          url: https://docs.qq.com/api/package/update
          version-query: .result.update_info | fromjson | .version
          url-query: "\"https://desktop.docs.qq.com/Installer/30001/\\($version)/TencentDocs-arm64.deb\""
      - type: extra-data
        only-arches: [x86_64]
        filename: docs.deb
        url: https://desktop.docs.qq.com/Installer/30001/3.5.3/TencentDocs-x64.deb
        sha256: 4c767f2c03ccd892445b2358382596767bcf2047869be39ed8a9845ff7224309
        x-checker-data:
          type: json
          url: https://docs.qq.com/api/package/update
          version-query: .result.update_info | fromjson | .version
          url-query: "\"https://desktop.docs.qq.com/Installer/30001/\\($version)/TencentDocs-x64.deb\""
        size: 150979840
      - type: file
        path: com.qq.docs.metainfo.xml
      - type: file
        path: com.qq.docs.svg
      - type: file
        path: com.qq.docs.desktop
      - type: script
        dest-filename: tdappdesktop.sh
        commands:
          - export TMPDIR=$XDG_RUNTIME_DIR/app/$FLATPAK_ID
          - exec zypak-wrapper.sh /app/extra/docs/tdappdesktop "$@"
      - type: script
        commands:
          - bsdtar --to-stdout -xf *.deb data.* | bsdtar -xf -
          - mv opt/腾讯文档 ./docs
          - rm -rf *.deb usr opt
        dest-filename: apply_extra
