app-id: com.qq.docs
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
command: tdappdesktop

finish-args:
  - --socket=wayland
  - --device=dri
  - --share=network
  - --filesystem=xdg-download
  - --talk-name=org.kde.StatusNotifierWatcher
  - --system-talk-name=org.freedesktop.login1
  # required to fix cursor scaling on wayland
  - --env=XCURSOR_PATH=/run/host/user-share/icons:/run/host/share/icons

add-extensions:
  org.freedesktop.Platform.electron:
    version: '25.08'
    directory: electron

cleanup:
  - '*.a'
  - '*.la'
  - /include
  - /lib/cmake
  - /lib/debug
  - /lib/pkgconfig
  - /man
  - /share/man
  - /share/doc
  - /share/gtk-doc

modules:
  - name: docs
    buildsystem: simple
    build-options:
      no-debuginfo: true
    build-commands:
      - mkdir -pv ${FLATPAK_DEST}/electron
      - install -Dvm644 ${FLATPAK_ID}.svg -t ${FLATPAK_DEST}/share/icons/hicolor/scalable/apps
      - install -Dvm644 ${FLATPAK_ID}.desktop -t ${FLATPAK_DEST}/share/applications
      - install -Dvm644 ${FLATPAK_ID}.metainfo.xml -t ${FLATPAK_DEST}/share/metainfo
      - install -Dvm755 tdappdesktop.sh ${FLATPAK_DEST}/bin/tdappdesktop
      - install -Dvm755 apply_extra.sh ${FLATPAK_DEST}/bin/apply_extra
    sources:
      - type: extra-data
        only-arches: [aarch64]
        filename: docs.deb
        url: https://docs.qq.com/api/package/get?channel_id=30001&version_id=latest&package_name=TencentDocs-arm64.deb
        sha256: 110b6409520a93a9f7fe0e07305ba94a3dfb8ec31072a4b20da624af3553a072
        size: 147166766
        x-checker-data:
          type: json
          url: https://docs.qq.com/api/package/update
          version-query: .result.update_info | fromjson | .version
          url-query: '"https://docs.qq.com/api/package/get?channel_id=30001&version_id=latest&package_name=TencentDocs-arm64.deb"'
      - type: extra-data
        only-arches: [x86_64]
        filename: docs.deb
        url: https://docs.qq.com/api/package/get?channel_id=30001&version_id=latest&package_name=TencentDocs-x64.deb
        sha256: 4c641a180058fc25c1cebe814483e92e4b24293b6ee18f9c1d43d09a2d7155a4
        size: 151382680
        x-checker-data:
          type: json
          url: https://docs.qq.com/api/package/update
          version-query: .result.update_info | fromjson | .version
          url-query: '"https://docs.qq.com/api/package/get?channel_id=30001&version_id=latest&package_name=TencentDocs-x64.deb"'
      - type: file
        path: com.qq.docs.metainfo.xml
      - type: file
        path: com.qq.docs.svg
      - type: file
        path: com.qq.docs.desktop
      - type: script
        dest-filename: tdappdesktop.sh
        commands:
          - export TMPDIR=${XDG_RUNTIME_DIR}/app/${FLATPAK_ID}
          - exec zypak-wrapper "/app/electron/electron" "/app/extra/docs/app.asar"
            "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--enable-wayland-ime"
            "--wayland-text-input-version=3" "$@"
      - type: script
        commands:
          - bsdtar --to-stdout -xvf docs.deb data.* | bsdtar -xvf -
          - mv -v opt/腾讯文档 ./docs
          - rm -rv *.deb usr opt
        dest-filename: apply_extra.sh
