name: Build

on:
  workflow_dispatch

# If previous workflow is still running, we push again, we will cancel the previous workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install build depends
        run: |
          sudo add-apt-repository ppa:flatpak/stable
          sudo apt update 
          sudo apt install flatpak flatpak-builder qemu-system-arm qemu-user-static
          flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Build
        run: |
          git config --global protocol.file.allow always

          flatpak-builder build-dir manifests/pro.cycity.desktop/pro.cycity.desktop.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.PBH_BTN.PeerBanHelper/io.github.PBH_BTN.PeerBanHelper.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.iota9star.mikan/io.github.iota9star.mikan.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.niuhuan.kobi/io.github.niuhuan.kobi.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/com.cloudchewie.cloudotp/com.cloudchewie.cloudotp.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/cn.wps.office/cn.wps.office.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/com.xiaoyaocz.dmzjx/com.xiaoyaocz.dmzjx.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/com.xiaoyaocz.simplelive/com.xiaoyaocz.simplelive.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/top.jtmonster.jhentai/top.jtmonster.jhentai.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.predidit.kazumi/io.github.predidit.kazumi.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/com.qq.docs/com.qq.docs.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse
          flatpak-builder build-dir manifests/com.qq.docs/com.qq.docs.yaml --repo=repo --arch=aarch64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/com.qq.qqmusic/com.qq.qqmusic.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse
          flatpak-builder build-dir manifests/com.qq.qqmusic/com.qq.qqmusic.yaml --repo=repo --arch=aarch64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.c0re100.qBittorrent-Enhanced-Edition/io.github.c0re100.qBittorrent-Enhanced-Edition.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse
          flatpak-builder build-dir manifests/io.github.c0re100.qBittorrent-Enhanced-Edition/io.github.c0re100.qBittorrent-Enhanced-Edition.yaml --repo=repo --arch=aarch64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/io.github.msojocs.bilibili/io.github.msojocs.bilibili.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse
          flatpak-builder build-dir manifests/io.github.msojocs.bilibili/io.github.msojocs.bilibili.yaml --repo=repo --arch=aarch64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

          flatpak-builder build-dir manifests/org.freedesktop.xorg.xeyes/org.freedesktop.xorg.xeyes.yaml --repo=repo --arch=x86_64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse
          flatpak-builder build-dir manifests/org.freedesktop.xorg.xeyes/org.freedesktop.xorg.xeyes.yaml --repo=repo --arch=aarch64 --default-branch=stable --force-clean --user --install-deps-from=flathub --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --ccache --disable-rofiles-fuse

      - name: Sign repo
        run: |
          flatpak build-sign repo --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }}
          flatpak build-update-repo repo --gpg-sign=${{ secrets.GPG_KEY_FINGERPRINT }} --generate-static-deltas

      - name: Upload to R2
        uses: ryand56/r2-upload-action@latest # Can be any release
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: repo
          destination-dir: repo # Can be anything as long as it is an actual path
          output-file-url: 'true' # defaults to true
          multipart-size: 100 # If the file size is greater than the value provided here, then use multipart upload
          max-retries: 5 # The maximum number of retries it takes to upload a multipart chunk until it moves on to the next part
          multipart-concurrent: true # Whether to concurrently upload a multipart chunk
          keep-file-fresh: 'true' # defaults to false
